@font-face {
  font-family: 'Dynamoe';
  src: url('./DynamoeRegular.otf');
}
@font-face {
  font-family: 'Celosia';
  src: url('./CelosiaGolden.ttf');
}
@font-face {
  font-family: 'Respondent';
  src: url('./Respondent.otf');
}
@font-face {
  font-family: 'Mishella';
  src: url('./Mishella.otf');
}
@font-face {
  font-family: 'Virginia';
  src: url('./ViriginiaSky.ttf');
}
